:root {
  --blue-color1: #24388d;
  --white-color1: #fefefe;
}

.main {
  height: 100vh;
  color: var(--white-color1);
  background: url("./images/coffee.png") no-repeat;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.main-header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0 auto;
  padding-top: 100px;
}

.main-title {
  font-weight: 100;
  font-size: 36px;
}

.main-subTitle {
  font-weight: 500;
  font-size: 18px;
}

.main p {
  font-weight: 200;
  font-size: 12px;
}

.main-form {
  position: relative;
  top: 70px;
}

.main-signIn-box {
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
}

.signIn {
  border: 1px solid white;
  width: 540px;
  height: 70px;
  background: none;
  border: none;
  color: var(--white-color1);
  font-size: 16px;
  border-bottom: 2px solid var(--white-color1);
}

.main-checkbox {
  font-size: 14px;
  font-weight: 300;
  padding-top: 15px;
}

.main-button {
  padding-top: 55px;
}

.login-button {
  padding: 0 0;
  width: 250px;
  height: 40px;
  border-radius: 6px;
  color: var(--blue-color1);
  background-color: var(--white-color1);
  font-weight: 700;
  border-color: var(--white-color1);
  font-size: 16px;
}

button p {
  display: inline;
  position: relative;
  left: 65px;
  font-size: 15px;
}

.singup-button {
  width: 250px;
  background: none;
  height: 40px;
  font-size: 16px;
  color: var(--white-color1);
  font-weight: 700;
  border-color: var(--white-color1);
  border-radius: 6px;
}
