:root {
  --blue-color1: #24388d;
}

.header {
  height: 50px;
  color: var(--blue-color1);
  border-bottom: 1px solid black;
}

/* logo */
.logo {
  position: relative;
  left: 150px;
  top: 18px;
  font-size: 25px;
  font-weight: 900;
  text-transform: uppercase;
}
